@import "src/styles/mixins";

.header {
}

.header__wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header__logo {
  display: block;
  width: 50px;
  @include image-inner-fluid;
}
