@import "src/styles/mixins";

.header {
}

.header__wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 16px 0;
}

.header__logo {
  display: block;
  width: 50px;
  @include image-inner-fluid;
}

.header__user {
  display: flex;
  align-items: center;
  column-gap: 16px;
}
