$container-width: 1200;

// Radius
$button-radius: 8px;
$main-radius: 8px;
$block-radius: 16px;

// Breakpoints
$breakpoint-xs: 599px;
$breakpoint-sm: 1023px;
$breakpoint-md: 1439px;
$breakpoint-lg: 1919px;

// Transitions
$transition-duration: 0.2s;
