@import "src/styles/mixins";
@import "src/styles/colors";
@import "src/styles/variables";

.app-button {
  @include reset-btn;
  padding: 12px 24px;
  background-color: $teal;
  color: white;
  border-radius: $button-radius;
  @include transition;
  @include hover {
    background-color: lighten($teal, 5);
  }
  &:disabled {
    opacity: 0.5;
    background-color: $grey;
    cursor: not-allowed;
  }
}
